<div class="footer container-fluid p-4">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-8">
      <ul class="px-0 pl-sm-1 pl-lg-4">
        <li class="footer-title f32">eCommerce.</li>
        <li class="footer-link f16">
          Facilitating simplified health <br />
          solutions for everyone
        </li>
      </ul>
    </div>
    <div
      class="col-4 col-sm-4 col-md-2 offset-1 offset-sm-1 offset-md-0 offset-xl-0"
    >
      <ul class="px-0 pl-sm-1 pl-lg-5 pl-md-5 let-us-contact">
        <li class="footer-link-header f24 bold">About us</li>
        <li class="footer-link f16"><a href="{{constant.medium}}">Blog</a></li>
        <li class="footer-link f16"><a routerLink="/privacy">Terms</a></li>
        <li class="footer-link f16">
          <a href="mailto:{{constant.careerEmail}}">Careers</a>
        </li>
        <!--
          <li class="footer-link f16">
            <a routerLink="/privacy">Your Privacy</a>
          </li>
          <li class="footer-link f16">
            <a routerLink="/values">Terms of Service</a>
          </li>
          <li class="footer-link f16">
            <a routerLink="/cookies"> Cookie Policy</a>
          </li>
        -->
        <!-- <li class="footer-link f16"> Investment Relations</li> -->
      </ul>
    </div>
    <div class="col-6 col-sm-4 col-md-2">
      <ul class="px-0 pl-sm-1 pl-lg-5 let-us-contact">
        <li class="footer-link-header f24 bold">Let us help you</li>
        <li class="footer-link f16">
          <a href="mailto:{{constant.infoEmail}}">Contact Us</a>
        </li>
        <li class="footer-link f16"><a href="#">Saved Items</a></li>
        <li class="footer-link f16"><a href="#">Manage your Account</a></li>
      </ul>
    </div>

  </div>
  <div class="row social-links">
    <div class="col-5 col-sm-6 text-lg-left  pl-lg-5">
      <a class="" href="#" target="_blank">
        <span class="footer-link f16">&copy; 2018 eCommerce.</span>
      </a>
    </div>
    <div class="col-7 col-sm-6 text-center text-lg-right">
      <a class="mx-2" href="{{constant.twitter}}" target="_blank">
        <span class="fab fa-twitter"></span>
      </a>
      <a class="mx-2" href="{{constant.instagram}}" target="_blank">
        <span class="fab fa-instagram"></span>
      </a>
      <a class="mx-2" href="{{constant.medium}}" target="_blank">
        <span class="fab fa-medium"></span>
      </a>
      <a class="mx-2" href="{{constant.pinterest}}" target="_blank">
        <span class="fab fa-pinterest"></span>
      </a>
    </div>
  </div>
</div>
